%div#footer
  All rights reserved.<br>
  Images listed on #{app_name} are owned by their respective trademark owners.<br>
  &copy; 2011 #{app_name}. All rights reserved.<br>
  <br>
  Get in touch with us at <a href='mailto:contact@#{app_domain}'>contact@#{app_domain}</a>