<h1>Site Subscription</h1>
 <p>Thank you for your decision to subscribe to this site.


 <p>Your order total is $9.99 / month
 <p>
 <%= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), :action => 'checkout' %>
 </p>

